@import "../../index.scss";

.navbar {
  background: $mainDark;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 45px;
  z-index: 5;
}

.navbar-menu {
  width: 60%;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-link {
  color: $mainLight;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.3s linear;

  &:hover {
    color: $mainColor;
  }
}

.active {
  color: $mainColor;
}

label {
  font-size: 2rem;
}

.menu-burger {
  display: none;
  text-align: right;
}

#toggle {
  // display: none;
}

@media (max-width: 480px) {
  .navbar-menu {
    width: fit-content;
    padding: 0% 3%;
  }

  .nav-links {
    justify-content: center;
    display: none;
    position: fixed;
    top: 45px;
    background-color: black;
    padding: 2%;
    right: 0;
  }

  #toggle:checked ~ .nav-links {
    display: block;
  }

  .menu-burger {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  label {
    cursor: pointer;
  }
}
