@import "../../index.scss";

.navbar {
  background: $mainDark;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 45px;
  z-index: 5;

  &__menu {
    width: 60%;

    .menu-burger {
      display: none;
      text-align: right;
      flex-direction: row;
      justify-content: flex-end;
      margin-right: 1rem;

      label {
        font-size: 2rem;
      }

      #toggle {
        display: none;
      }
    }
  }

  &__menu--links {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__menu--link {
    color: $mainLight;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.3s linear;

    .active {
      color: $mainColor;
    }

    &:hover {
      color: $mainColor;
    }
  }
}

@media (max-width: 480px) {
  .navbar {
    &__menu {
      width: fit-content;
      padding: 0% 3%;

      .menu-burger {
        display: flex;

        label {
          cursor: pointer;
        }

        #toggle:checked ~ .navbar__menu--links {
          display: block;
        }
      }
    }

    &__menu--links {
      justify-content: center;
      display: block;
      position: fixed;
      top: 45px;
      background-color: black;
      padding: 2%;
      right: 0;
    }
  }
}
