@import "../../index.scss";

.tour {
  background-color: $mainDark;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  img {
    width: 100%;
  }
}

.img-container {
  position: relative;
  width: 100%;
  height: fit-content;
}

.city-name {
  position: absolute;
  top: 3%;
  left: 3%;
  color: $mainLight;
}

.close-btn {
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s linear;
  opacity: 0;
}

.tour-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 3%;
  transition: all 0.3s linear;
  background-color: rgba(0, 0, 0, 0);
  h4,
  h5 {
    opacity: 0;
  }
}

.img-container:hover {
  .close-btn {
    opacity: 1;
  }

  .tour-info {
    background-color: rgba(0, 0, 0, 0.7);
    h4,
    h5 {
      color: $mainLight;
      opacity: 1;
    }
  }
}

@media (min-width: 481px) {
  .tour {
    width: 50%;
  }
}

@media (min-width: 801px) {
  .tour {
    width: 33.33%;
  }
}

@media (min-width: 1201px) {
  .tour {
    width: 25%;
  }
}
